windowPositionX=60
windowPositionY=60
windowWidth=800
windowHeight=600
controlsDialogWidth=300
demoScene01_vertexShaderFilepath="DemoScenes/Shaders/DemoScene01_vertex.shader"
demoScene01_fragmentShaderFilepath="DemoScenes/Shaders/DemoScene01_fragment.shader"
demoScene02_vertexShaderFilepath="DemoScenes/Shaders/DemoScene02_vertex.shader"
demoScene02_fragmentShaderFilepath="DemoScenes/Shaders/DemoScene02_fragment.shader"
buttonFont=("Calibri Light",16)
buttonMinHeight=50